workflows/06-xquik-social-context-brief.json
{
  "name": "06 - Xquik Social Context Brief",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "xquik-social-context",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-xquik-social-context",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "xquik-social-context-webhook"
    },
    {
      "parameters": {
        "functionCode": "// Parse the request body and validate the Xquik API key.\nconst root = $json ?? {};\nconst body = root.body && typeof root.body === 'object' ? root.body : root;\n\nconst queryRaw = body.query ?? body.q ?? '';\nconst query = queryRaw.toString().trim();\n\nif (!query) {\n  throw new Error('Missing body.query');\n}\n\nconst apiKey = ($env.XQUIK_API_KEY ?? '').toString().trim();\nif (!apiKey) {\n  throw new Error('Missing XQUIK_API_KEY environment variable');\n}\n\nconst limitRaw = Number(body.limit ?? 20);\nconst limit = Number.isFinite(limitRaw)\n  ? Math.min(Math.max(Math.trunc(limitRaw), 1), 50)\n  : 20;\n\nconst queryTypeRaw = body.queryType ?? 'Latest';\nconst queryType = queryTypeRaw === 'Top' ? 'Top' : 'Latest';\n\nreturn [{ json: { query, limit, queryType } }];"
      },
      "id": "parse-xquik-input",
      "name": "Parse Input",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://xquik.com/api/v1/x/tweets/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{$json.query}}"
            },
            {
              "name": "limit",
              "value": "={{$json.limit}}"
            },
            {
              "name": "queryType",
              "value": "={{$json.queryType}}"
            }
          ]
        },
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{JSON.stringify({ 'x-api-key': $env.XQUIK_API_KEY, 'xquik-api-contract': '2026-04-29' })}}",
        "options": {
          "timeout": 30000,
          "ignoreResponseCode": true
        }
      },
      "id": "search-xquik",
      "name": "Search Xquik",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "functionCode": "// Convert Xquik search results into a compact LLM prompt.\nconst response = $json ?? {};\nconst rows = response.data ?? response.tweets ?? response.items ?? response.results ?? [];\nconst tweets = Array.isArray(rows) ? rows : [];\n\nconst cleanText = (value) => {\n  return (value ?? '').toString().replace(/\\s+/g, ' ').trim();\n};\n\nconst asHandle = (value) => {\n  const text = cleanText(value);\n  return text ? text.replace(/^@/, '') : 'unknown';\n};\n\nconst summarizeMetrics = (tweet) => {\n  const metrics = tweet.metrics ?? tweet.public_metrics ?? {};\n  const likes = metrics.like_count ?? metrics.likes ?? tweet.like_count ?? tweet.likes;\n  const retweets = metrics.retweet_count ?? metrics.retweets ?? tweet.retweet_count ?? tweet.retweets;\n  const replies = metrics.reply_count ?? metrics.replies ?? tweet.reply_count ?? tweet.replies;\n\n  const parts = [];\n  if (likes !== undefined) parts.push(`${likes} likes`);\n  if (retweets !== undefined) parts.push(`${retweets} retweets`);\n  if (replies !== undefined) parts.push(`${replies} replies`);\n\n  return parts.join(', ');\n};\n\nconst posts = tweets\n  .slice(0, 20)\n  .map((tweet, index) => {\n    const author = asHandle(\n      tweet.author?.username ??\n        tweet.user?.username ??\n        tweet.username ??\n        tweet.author_username ??\n        tweet.screen_name\n    );\n    const text = cleanText(tweet.text ?? tweet.full_text ?? tweet.content ?? tweet.description);\n    const metrics = summarizeMetrics(tweet);\n    const suffix = metrics ? ` (${metrics})` : '';\n    return text ? `${index + 1}. @${author}: ${text}${suffix}` : '';\n  })\n  .filter(Boolean);\n\nif (posts.length === 0) {\n  throw new Error('Xquik returned no tweets for this query');\n}\n\nconst query = $node['Parse Input'].json.query;\nconst prompt = [\n  'You are a concise social research assistant.',\n  'Use only the X search results below.',\n  `Query: ${query}`,\n  '',\n  posts.join('\\n'),\n  '',\n  'Return:',\n  '1. A 3 sentence context brief.',\n  '2. 3 actionable observations.',\n  '3. 3 search refinements for the next run.',\n].join('\\n');\n\nconst apiBase = $env.OPENAI_API_BASE || 'http://host.docker.internal:1234/v1';\nconst model = $env.OPENAI_MODEL || 'openai/gpt-oss-20b';\n\nreturn [\n  {\n    json: {\n      query,\n      post_count: posts.length,\n      prompt,\n      apiUrl: apiBase + '/chat/completions',\n      headers: {\n        Authorization: 'Bearer ' + ($env.OPENAI_API_KEY || 'lm-studio'),\n        'Content-Type': 'application/json',\n      },\n      payload: {\n        model,\n        temperature: 0.2,\n        max_tokens: 700,\n        messages: [\n          {\n            role: 'system',\n            content: 'Summarize social signals with neutral, evidence-bound wording.',\n          },\n          { role: 'user', content: prompt },\n        ],\n      },\n    },\n  },\n];"
      },
      "id": "build-xquik-brief-prompt",
      "name": "Build Brief Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.apiUrl}}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{JSON.stringify($json.headers)}}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json.payload)}}",
        "options": {}
      },
      "id": "generate-xquik-brief",
      "name": "Generate Brief",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "functionCode": "// Normalize the OpenAI-compatible response.\nconst choice = $json.choices?.[0] ?? {};\nconst raw = choice.message?.content ?? choice.text ?? '';\nconst brief = raw.toString().replace(/<\\|[^>]+?\\|>/g, '').trim();\n\nreturn [\n  {\n    json: {\n      query: $node['Build Brief Prompt'].json.query,\n      post_count: $node['Build Brief Prompt'].json.post_count,\n      model: $node['Build Brief Prompt'].json.payload.model,\n      brief,\n    },\n  },\n];"
      },
      "id": "format-xquik-brief",
      "name": "Format Brief",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Search Xquik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Xquik": {
      "main": [
        [
          {
            "node": "Build Brief Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Brief Prompt": {
      "main": [
        [
          {
            "node": "Generate Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Brief": {
      "main": [
        [
          {
            "node": "Format Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "staticData": null,
  "pinData": {}
}
